.Table {
  color: rgb(0, 225, 255);
  border-collapse: collapse;
  width: 100%;
  /* margin-top: ; */
  margin-bottom: auto;
}

td,
th {
  border: 1px solid #dddddddd;
  text-align: left;
  padding: 8px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
